.headerContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #fff;
    text-shadow: 1px 3px 7px #000;
    text-transform: uppercase;
    font-size: 42px;
    text-align: center;
    font-weight: 900;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}

.logo{
    margin: 0 10px;
    width: 50px;
}

.memeGeneratorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.memeSettings{
    display: flex;
    flex-direction: column;
}

select, input {
    height: 35px;
    width: 300px;
    font-size: 18px;
}

button {
    height: 35px;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
}

figure{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 425px ;
    width: 425px;
    border-radius: 5px;
    background-color: #000;
}

.memeImage{
    height: 400px ;
    width: 400px;
}

.memeText{
    position: absolute;
    margin: auto;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    word-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 3px 3px black;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 900px) {

    .logo{
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .memeGeneratorContainer{
        flex-direction: column;
        height: auto;
    }

    figure{
        height: 325px ;
        width: 325px;
    }

    .memeImage{
        height: 300px ;
        width: 300px;
    }
    
}
